{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}
<h1 class="text-center">About page </h1>
<div style="display: flex; justify-content: center; align-items: center; border: 1px solid black;
      padding: 10px;">
    <p>Welcome to Casanegra Hotel, where elegance and comfort intersect in our branches located in Agadir, Tangier, and Casablanca. <br>
    Immerse yourself in a world of luxury as our dedicated staff caters to your every need.<br>
    Our tastefully appointed rooms and suites provide a sanctuary of tranquility, blending contemporary design with Moroccan flair.<br>
    Indulge in a variety of culinary delights at our world-class restaurants, offering authentic Moroccan cuisine and international dishes crafted with local ingredients.<br>
    Relax and rejuvenate at our well-appointed spa and wellness facilities, where skilled therapists pamper you with revitalizing treatments.<br>
    Whether you're hosting a meeting, conference, or special occasion, our state-of-the-art event spaces and dedicated event team ensure a seamless experience.<br>
    Explore the vibrant attractions of Agadir, Tangier, and Casablanca with our convenient central locations.<br>
    Let our concierge team assist you in creating unforgettable memories during your stay at Casanegra Hotel.
    </p>
</div>
{% endblock body %}